@model cloud_infrastructure.Models.ServerInstance

<h2>Server Details</h2>

<ul>
    <li>Hostname: @Model.Hostname</li>
    <li>RAM: @Model.RamGb</li>
    <li>Size: @Model.InstanceSize</li>
    <li>Status: @Model.Status</li>
</ul>
